.catalogPage {
  max-width: 1440px;

  margin: 0 auto;

  padding: 84px 120px 100px;
}

.carsGrid {
  display: grid;
  grid-template-columns: repeat(4, 276px);

  column-gap: 32px;
  row-gap: 48px;
}

.statusMessage {
  margin: 32px 0;

  text-align: center;

  color: var(--gray);
}

@media (max-width: 1439px) {
  .catalogPage {
    padding-left: 32px;
    padding-right: 32px;
  }

  .carsGrid {
    justify-content: center;
  }
}

@media (max-width: 1279px) {
  .carsGrid {
    grid-template-columns: repeat(3, 276px);
  }
}

@media (max-width: 991px) {
  .carsGrid {
    grid-template-columns: repeat(2, 276px);
  }
}

@media (max-width: 767px) {
  .catalogPage {
    padding: 48px 20px 80px;
  }

  .carsGrid {
    grid-template-columns: 1fr;

    gap: 32px;
  }
}